<div class="row" style="padding-right: 1%; padding-left: 1%">
	<div class="col">
		<div class="card text-white bg-primary mb-4" style="max-width: 16rem; text-align: center; margin: 1%;">
  		<div class="card-header"> Total de Clientes</div>
		<div class="card-body">
			<h3 class="card-text">{{total_clientes}}</h3>
		</div>
	</div>
	</div>
	<div class="col">
		<div class="card text-white bg-secondary mb-4" style="max-width: 16rem; text-align: center; margin: 1%;">
	  		<div class="card-header"> Total de Produtos</div>
			<div class="card-body">
				<h3 class="card-text">{{total_produtos}}</h3>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card text-white bg-success mb-4" style="max-width: 16rem; text-align: center; margin: 1%;">
	  		<div class="card-header"> Total de Itens</div>
			<div class="card-body">
				<h3 class="card-text">{{total_itens}}</h3>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card bg-light mb-4" style="max-width: 16rem; text-align: center; margin: 1%;">
	  		<div class="card-header"> Total de Pedidos</div>
			<div class="card-body">
				<h3 class="card-text">{{total_pedidos}}</h3>
			</div>
		</div>
	</div>
